name: DevelopmentBuild
on:
  push:
    branches:
      - master

env:
  SOLUTION_FILE_PATH: SHEngine.sln
  CONFIGURATION: Development

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add MSBuild to Path
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Build
        run:
          msbuild ${{env.SORUTION_FILE_PATH}} /p:Plarform=x64,Configuration=${{env.CONFIGURATION}}
